version: '{{docker_compose_version}}'

# Create a network for our containers.
networks:
  frontend:


#https://github.com/devnix/prestashop-docker-compose
#https://gitlab.com/rluna-php/prestashop/PrestaShop/blob/develop/docker-compose.yml

services: 
  prestashop:
    build: ./resources/prestashop
    restart: always
    ports:
      - 8081:80
    links:
      - mariadb:mariadb
    depends_on:
      - mariadb
    volumes:
      - ./src:/var/www/html

    environment:
      - PS_DEV_MODE=1
      - DB_SERVER=mariadb
      - DB_USER={{db_user}}
      - DB_PASSWD={{db_password}}
      - DB_NAME={{db_name}}
      - PS_INSTALL_AUTO=0
    networks:
      - frontend

  mariadb:
    image: mariadb:latest
    restart: always
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD={{db_password}}
      - MYSQL_DATABASE={{db_name}}
    networks:
      - frontend

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    links:
      - mariadb
    depends_on:
      - mariadb
    ports: 
      - 81:80 
    environment:
      - PMA_HOST=mariadb
      - PMA_USER={{db_user}}
      - PMA_PASSWORD={{db_password}}
    networks:
      - frontend
